body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #333333;
}

header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #337f8b;
}

header img{
    width: 120px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
  color: #dc8c3c;
  font-size: 3em;
  margin: 5px;
  margin-top: 20px;
}
.container {
  display: flex;
}
main {
  height: 100vh;
}

#aside {
  width: 15%;
  background-color: #f7ede0;
}

#aside ul,
#resultsList {
  list-style: none;
  padding: 0;
}

#aside li {
  margin: 50px;
  color: #dc8c3c;
}

#article {
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.input-bar {
  margin: 10px;
  width: 150px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #dc8c3c;
  padding-left: 10px;
}

#searchButton {
  width: 100px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  background-color: #dc8c3c;
  color: #f7ede0;
}

footer{
    padding: 50px;
    text-align: center;
    font-size: large;
    padding: 50px;
    background-color: #337f8b;
}
